*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #fff;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/path2.png');
    background-color: #1A1515;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.navbar-brand{
    font-weight: 600;
}
.collapse{
    justify-content: flex-end;
}
.container{
    margin-top: 35px;
}

.navbar-collapse li{
    padding-right: 31px;
    font-size: 14px;
    font-weight: 600;
}
.navbar-collapse li a{
    color: #fff;
}
.navbar-collapse li a:hover{
    color: #868080;
}
.div-center {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.div-center h1{
    font-weight: 600;
    font-size: 3.5rem;  
}
.div-center p{
    font-weight: bold;
    font-size: 1.1rem;
}
.button-center{
    text-align: center;
    margin-top: 330px;
}
.button-center input{
    padding: 10px 30px;
    background-color: #2FD55C;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 25px;
    font-size: 17px;
}
.button-center input:hover{
    background-color: #fff;
    color: #2FD55C;
}

@media (max-width:992px){
    .navbar-nav{
        margin-left: 40px;
    }
}
@media  (max-width:576px){
    .header{
        background-image: none; 
    }
    .div-center h1{
        width: 80%;
        margin: auto;
        line-height: 3.5rem;
    }
    .div-center p{
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
}

@media (max-width:320px){
    .header{
        background-image: none; 
    }
    .header-section{
        width: 90%;
    }
    .div-center h1{
        font-size: 2.5rem;
        width: 70%;
        margin-left: 45px;
        font-weight: 700;
        line-height: 2.8rem;
    }
    .div-center p{
        font-size: 1rem;
        margin-top: 20px;
        font-weight: 400;
        margin-left: 60px;
        width: 60%;
    }
}



