*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/path2.png');
    background-size: 100% 100%;
    background-color: #000;
    position: relative;
}
.header-menu{
    margin-top: 40px;
}
.collapse{
    justify-content: flex-end;
}
.navbar-brand span{
    font-weight: 600;
}
.navbar-nav li{
    padding-right: 25px;
    font-weight: 600;
    font-size: 15px;
}
.navbar-nav li a{
    color: #fff;
}
.navbar-nav li a:hover{
    color: #C3BDBD;
}
.header-section{
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.header-button{
    margin-top: 40px;
}
.header-button input{
    padding: 7px 25px;
    background-color: #299E50;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
}

.header-button input:hover{
    background-color: #fff;
    color: #299E50;
}
.general-section{
    display: flex;
    flex-direction: row;
}
.first-section{
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.picture-div img{
    width: 100%;
    
}
.blog-div{
    width: 100%;
    padding: 40px 60px 0 60px; 
}

.blog-div .first-icon, .second-icon, .third-icon{
    margin-top: 40px;
}

.blog-div .first-icon{
    background-image: url('../img/icon_1.png');
    background-repeat: no-repeat; 
    padding-bottom: 5px;
}
.blog-div .first-icon, .second-icon, .third-icon span{
    padding-left: 60px;
}
.blog-div .second-icon{
    background-image: url('../img/icon_2.png');
    background-repeat: no-repeat;
    padding-bottom: 5px; 
}
.blog-div .third-icon{
    background-image: url('../img/icon_3.png');
    background-repeat: no-repeat; 
    padding-bottom: 5px;
}
.second-section{
    width: 100%;
    height: auto;
    background-color: #ECECEC;
    text-align: center;
    padding: 40px 0 60px 0;
}
.features-div{
    width: 100%;
    padding-top: 30px;
    margin: auto;
}
.features-div .icon1 span{
    width: 140px;
    height:140px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 140px;
    border-radius: 50%;
}
 .features-div h3{
    margin-top: 5px;
}
.features-div .icon1 p{
    font-size: 16px;
}
.third-section h1{
    text-align: center;
    padding: 40px 0 30px 0;
}
.third-section .card{
    margin: auto;
}
.card{
    background-color: #ECECEC;
}

.card-header{
    border-bottom: 2px solid #B6B2B2;
    margin-bottom: 15px;
}
.third-section .p1{
    text-align: center;
    padding: 40px 0 10px 0;
    font-size: 17px;
    color: gray;
}
.card-body{
    text-align: center;
}
.card-body hr{
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #B6B2B2;
}
.card-body a{
    display: block;
    margin-top: 50px;
    padding: 9px 0 9px 0; 
    background-color: #299E50;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.card-body a:hover{
    background-color: #fff;
    color: #299E50;
}
.four-section{
    width: 100%;
    background-color: #ECECEC;
    padding-bottom: 40px;
}
.four-section .row{
    padding: 20px 0 20px 0;
}

.four-section h2{
    text-align: center;
    padding: 40px 0 20px 0;
}
.teacher1 span{
    display: block;
    margin-top: 15px;  
}
.teacher1 span h5{
    color: #299E50;
}
.teacher1 img{
   float: left;
   padding: 0 20px 0 0;
}
.five-section{
    padding-top: 50px;
}
.five-section .heading{
    text-align: center;
}
.program-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.activities-grid-item{
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
    color: #fff;
    
}
.program1{
    background-image: url('../img/Rectangle\ 51.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #299E50;
}
.program2{
    background-image: url('../img/Rectangle\ 52.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #299E50;
}
.program3{
    background-image: url('../img/Rectangle\ 53.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #299E50;
}
.program4{
    background-image: url('../img/Rectangle\ 54.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #299E50;
}
.program5{
    background-image: url('../img/Rectangle\ 50.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #299E50;
}
.program6{
    background-image: url('../img/Rectangle\ 56.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #299E50;
}
.six-section{
    margin-top: 30px;
    background-color: #ECECEC;
    margin-bottom: 60px;
}
.six-section .heading{
    text-align: center;
    padding: 50px 0 20px 0;
}
.single-carousel{
    padding-left: 50px;
    position: relative;
    margin: 0 15px 15px;
}
.single-carousel .img-area{
    height: 150px;
    left: 0;
    width: 150px;
}
.img-area img{
    margin-left: 50px;
}
.six-section .div-lorem{
    padding: 0 40px 0 40px;
    text-align: center; 
}

.heading-second{
    text-align: center;
    padding: 50px 0 30px 0;
}
.six-section div.owl-nav{
    color: gray;
    font-size: 150px;
    display: inline-block;
    text-align: center;
}
.owl-prev, .owl-next{
    position: absolute;
}
.owl-next{
    right: -20px;
    top: 50%;
}
.owl-prev{
    left: -20px;
    top: 50%;
}
.seven-section .heading-blog{
    text-align: center;
    padding-bottom: 40px;
}
#second-carousel{
  overflow: hidden;
}
.carousel-div{
    padding: 0 10px;
}
#second-carousel img{
    width: 100%;
    height: 300px;
}
.heading-owl-carousel{
    text-align: center;
}
.heading-owl-carousel h4, p{
    padding-top: 20px;
}
.read-div{
    padding: 20px 0 60px 0;
    text-align: center;
}
.read-div a{
    padding: 15px 30px;
    background-color: #299E50;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}
.read-div a:hover{
    background: #fff;
    color: #299E50;
    border: 1px solid #299E50;
}


.eight-section{
   background-image: url('../img/photo4.png');
   background-repeat: no-repeat;
   height: 250px;
}
.container-image .subscribe{
    color: #fff;
    text-align: center;
    margin-top: 70px;
}
.div-input input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-top: 80px;
    
    
}
.div-input a{
    background-color: #299E50;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 70px;
    display: block;
    text-align: center;
    width: 140px;
}
.div-input a:hover{
    background: transparent;
    border: 1px solid #fff;
}
 .contact-div{
    margin: auto;
    padding-bottom: 40px;
}
.nine-section .div-contact{
    text-align: center;
    padding-bottom: 20px;
}
 input[type="text"]{
    border: none;
    outline: none;
    border-bottom: 1px solid #CAC4C4;
    width: 100%;
    padding-bottom: 10px; 
}
input[type="email"]{
    border: none;
    outline: none;
    border-bottom: 1px solid #CAC4C4;
    width: 100%;
    padding-bottom: 10px; 
    margin-top: 10px;
}
input[type="submit"]{
    background-color: #299E50;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 60px;
    margin-top: 20px;
}
input[type="submit"]:hover{
    background: #fff;
    color: #299E50;
    border: 1px solid #299E50;
}
#frm1 #message{
    width: 100%;
    margin-top: 20px;
    border: none;
    outline: none;
    padding: 10px 15px;
    border: 1px solid #CAC4C4;
}
.frm1{
    padding-bottom: 50px;
}
::placeholder{
    color: #000; 
}
.fa-color{
    color: #299E50;
    padding: 15px 0;
}
.div-span{
    padding-top: 20px;
    float: left;
    margin-right: 90px;
}
.div-span-end{
    padding-top: 15px;
}
.paragraf-1, .paragraf-2{
    margin-top: -40px;
}
.footer{
    width: 100%;
    background-color: #000;
    padding: 30px 0;
}
.education{
    font-weight: bold;
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
    vertical-align: -3px;
}
.div-link a{
    color: #fff;
    text-decoration: none;
    padding-left: 25px;
    font-weight: 600;
}







@media only screen and (max-width:768px) {
    .header{
        background-image: none;
    }
    .navbar-brand span{
        display: none;
    }
    .header-menu{
        margin-top: 10px;
    }
    .center-div h1{
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
        line-height: 2.5rem;
    }
    .center-div p{
        width: 60%;
        margin: auto;
    }
    .picture-div{
        width: 60%;
    }
    .blog-div{
        padding: 40px 20px 0 18px;
    }
    .blog-div span{
        font-size: 20px;
    } 
    .features-div .icon1{
        padding-top: 40px;
    }
    .features-div .online-testing{
        padding-top: 0;
    }
    .research-icon{
        margin-top: -30px;
    }
    .img-area {
        margin-left: -40px;
    }
    .div-lorem{
        padding: 0 20px 0 20px;
    }
    .container-image .subscribe{
        text-align: center;
        margin-top: 10px;
    }
    .div-input{
     text-align: center;
     margin-top: -90px;
    }
    .div-input input{
        width: 250px;
    }

    .div-input a{
        margin: auto;
        margin-top: 120px;
    }
    .div-span{
        float: none;
        margin-left: 20px;
    }
    .div-span-end{
        margin-left: 20px;
    }
    .paragraf-2{
        display: none;
    }
    .center-submit{
        display: block;
        margin: auto;
    }
    .blog-center{
        text-align: center;
    }
    .div-link{
        margin-top: 30px;
    }
    
    .div-link a{
        display: block;
        text-align: center;
        padding-bottom: 3px;
        border-bottom: 1px solid #7C7A7A;
        font-size: 18px;
    }
    
}


